<!--suppress HtmlFormInputWithoutLabel, HtmlRequiredAltAttribute, HtmlUnknownTag, CheckEmptyScriptTag, CheckTagEmptyBody, HtmlUnknownAttribute -->
<div class="sheet-serenity-charactersheet">
    <input type="radio" name="charactersheet-sheet" class="sheet-tab sheet-tab1" value="1" checked="checked"/><span
        title="Stats"></span>
    <input type="radio" name="charactersheet-sheet" class="sheet-tab sheet-tab2" value="2"/><span
        title="Equipment"></span>
    <input type="radio" name="charactersheet-sheet" class="sheet-tab sheet-tab3" value="3"/><span title="Notes"></span>

    <div class="sheet-tab-content sheet-tab1-content sheet-character-stats">

        <!-- CHARACTER INFO -->
        <div class="sheet-serenity-float-group">
            <table class="sheet-character-info" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="sheet-serenity-label">Name:</td>
                    <td>
                        <input type="text" name="attr_character_name" title="Character name (both first and last)"/>
                    </td>
                    <td class="sheet-serenity-logo" rowspan="3">
                        <img src="https://i.imgur.com/uXoEVJZ.png" alt="Serenity" title="v1.1.1"/>
                    </td>
                    <td class="sheet-serenity-label">Concept:</td>
                    <td>
                        <textarea name="attr_Concept" title="(Optional) Character's concept"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="sheet-serenity-label">Age/Hgt/Wgt:</td>
                    <td>
                        <input type="text" name="attr_Characteristics" title="Age/Height/Weight"/>
                    </td>
                    <td class="sheet-serenity-label">Appearance:</td>
                    <td>
                        <textarea name="attr_Appearance" title="Character's appearance"></textarea>
                    </td>
                </tr>
            </table>
        </div>

        <!-- LIFE POINTS -->
        <div class="sheet-character-life-points sheet-serenity-float-group">
			<span class="sheet-serenity-stuns-taken">
				<div class="sheet-serenity-stun sheet-serenity-stun23"></div>
				<stunPlaceholder type="stun" num="22" title="Stuns Taken"></stunPlaceholder>
			</span>
            <span class="sheet-serenity-wounds-taken">
				<div class="sheet-serenity-wound sheet-serenity-wound23"></div>
				<stunPlaceholder type="wound" num="22" title="Wounds Taken"></stunPlaceholder>
			</span>
            <span class="sheet-serenity-shocks-taken">
				<stunPlaceholder type="shock" num="13" title="Shocks Taken"></stunPlaceholder>
			</span>
            <span class="sheet-serenity-life-points">
				<span class="sheet-serenity-tooltip">
                    Life Points:
                    <span class="sheet-serenity-tooltip-text">
                        Life Points measure how much damage you can take before passing out or dying. When your
                        character is punched, stabbed, or shot, the damage comes out of your total Life Points. If
                        your damage is equal or greater than your Life Points, you’re out of the action. Calculate
                        your total by adding the die types of your Vitality + Willpower Attributes. For example, a
                        character with a d8 Vitality and a d6 Willpower has 14 Life Points.
                    </span>
                </span>
				<input type="text" name="attr_LifePoints" disabled value="@{Vitality}+@{Willpower}"
                       title="Vitality + Willpower"/>
			</span>
            <span class="sheet-serenity-life-penalty">
				<span class="sheet-serenity-tooltip">
                    -2 Attribute Penalty:
                    <span class="sheet-serenity-tooltip-text sheet-serenity-tooltip-text-left">
                        When you've taken half or more of your total LifePoints in Wounds, you suffer a -2 step
                        penalty on all Attributes
                    </span>
                </span>
				<input type="text" name="attr_LifePenalty" disabled value="( @{Vitality}+@{Willpower} ) / 2"/>
			</span>
        </div>

        <div class="sheet-serenity-character-stats">
            <div class="sheet-serenity-float-group">
                <!-- ATTRIBUTES -->
                <div class="sheet-serenity-fieldset sheet-character-attributes">
                    <span class="sheet-serenity-fieldset-title">Attributes</span>

                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Strength:
                                    <span class="sheet-serenity-tooltip-text">
                                        Strength tells you just how strong your character is. A high Strength means
                                        you can kick down doors, win arm wrestling contests, or break someone's jaw
                                        with a good right hook. Low scores mean you have trouble carrying your own
                                        luggage.
                                    </span>
                                </span>
                            </td>
                            <td>
                                <dicePlaceholder default="8" start="4" end="24" class="sheet-serenity-strength"
                                                 name="attr_Strength"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Agility:
                                    <span class="sheet-serenity-tooltip-text">
                                        Agility represents quickness and physical coordination. A high Agility could
                                        mean your character can twirl two pistols and leap on the back of a moving
                                        horse without screwing up either action. A low score might well mean you have
                                        four left feet—two on the ends of your legs and two at the ends of your arms.
                                    </span>
                                </span>
                            </td>
                            <td>
                                <dicePlaceholder default="8" start="4" end="24" class="sheet-serenity-agility"
                                                 name="attr_Agility"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Vitality:
                                    <span class="sheet-serenity-tooltip-text">
                                        Vitality is a measure of toughness and general health. High Vitality characters
                                        avoid catching the flu, can drink their buddies under the table, and run from
                                        the law without getting winded. Crew with low Vitality should stay away from
                                        people with colds and never drink the local water
                                    </span>
                                </span>
                            </td>
                            <td>
                                <dicePlaceholder default="8" start="4" end="24" class="sheet-serenity-vitality"
                                                 name="attr_Vitality"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Alertness:
                                    <span class="sheet-serenity-tooltip-text">
                                        Alertness represents intuition and observation. A character with a high score
                                        might hear the stealthy footsteps of an Alliance Operative sneaking up on the
                                        group, notice an important clue caught in the bushes, or know the instant a
                                        fellow is lying. Someone with a low Alertness doesn’t notice that his fly is
                                        unzipped.
                                    </span>
                                </span>
                            </td>
                            <td>
                                <dicePlaceholder default="8" start="4" end="24" class="sheet-serenity-alertness"
                                                 name="attr_Alertness"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Intelligence:
                                    <span class="sheet-serenity-tooltip-text">
                                        Intelligence is smarts—plain and simple. Crew with high Intelligence are bright
                                        and inventive, able to think their way through complex situations, or solve
                                        puzzles that would confound lesser persons. Those with low scores might have
                                        trouble understanding big words or experience difficulty remembering
                                        complicated plans.
                                    </span>
                                </span>
                            </td>
                            <td>
                                <dicePlaceholder default="8" start="4" end="24" class="sheet-serenity-intelligence"
                                                 name="attr_Intelligence"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Willpower:
                                    <span class="sheet-serenity-tooltip-text">
                                        Willpower is about determination and force of personality. A high score means a
                                        character can resist intimidation (and even torture), can convince a person to
                                        do his bidding, and can push on even when his body is about to give up. Those
                                        with low Willpower might be easily fooled, back down at a threat, or take the
                                        easy way out.
                                    </span>
                                </span>
                            </td>
                            <td>
                                <dicePlaceholder default="8" start="4" end="24" class="sheet-serenity-willpower"
                                                 name="attr_Willpower"/>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- DERIVED TRAITS -->
                <div class="sheet-serenity-fieldset sheet-character-derived-traits">
                    <span class="sheet-serenity-fieldset-title">Derived Traits</span>

                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Initiative:
                                    <span class="sheet-serenity-tooltip-text">
                                        Initiative: Agility + Alertness. Tells you who goes first in a given situation.
                                        Do you draw first or does your enemy have the drop on you? You’ll make
                                        Initiative rolls during combat and other hairy situations where time is a
                                        major factor. When the GM asks for an “Initiative Roll,” you roll your
                                        Agility + Alertness dice and tell the GM the result. Higher is better.
                                        Especially when a Reaver is rushing at you with a machete
                                    </span>
                                </span>
                            </td>
                            <td><input type="text" name="attr_Initiative" disabled
                                       value="@{Agility}+@{Alertness}"/><br/>
                                <span class="sheet-character-derived-explanation">Agility + Alertness</span></td>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Long<br/>&nbsp;&nbsp;Haul:
                                    <span class="sheet-serenity-tooltip-text">
                                        Long Haul: Strength + Vitality. Made when trying to perform an extended feat
                                        of strength that has to be maintained more than a few seconds, such as carrying
                                        a heavy load up a hill.
                                    </span>
                                </span>
                            </td>
                            <td><input type="text" name="attr_LongHaul" disabled
                                       value="@{Strength}+@{Vitality}"/><br/>
                                <span class="sheet-character-derived-explanation">Strength + Vitality</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Burst of<br/>&nbsp;&nbsp;Strength:
                                    <span class="sheet-serenity-tooltip-text">
                                        Burst of Strength: Strength + Strength. Made to see if you can perform a brief
                                        feat of physical strength, such as shoving a heavy object out of the way
                                    </span>
                                </span>
                            </td>
                            <td><input type="text" name="attr_BurstOfStrength" disabled
                                       value="2*@{Strength}"/><br/>
                                <span class="sheet-character-derived-explanation">Strength + Strength</span></td>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Memorize:
                                    <span class="sheet-serenity-tooltip-text">
                                        Memorize: Intelligence + Alertness. Used to commit important information to
                                        memory.
                                    </span>
                                </span>
                            </td>
                            <td><input type="text" name="attr_Memorize" disabled
                                       value="@{Intelligence}+@{Alertness}"/><br/>
                                <span class="sheet-character-derived-explanation">Intelligence + Alertness</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Endurance:
                                    <span class="sheet-serenity-tooltip-text">
                                        Endurance: Vitality + Willpower. Rolled when you’re taken more Wounds than Life
                                        Points to see if you stay alive.
                                    </span>
                                </span>
                            </td>
                            <td><input type="text" name="attr_Endurance" disabled
                                       value="@{Vitality}+@{Willpower}"/><br/>
                                <span class="sheet-character-derived-explanation">Vitality + Willpower</span></td>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Recall:
                                    <span class="sheet-serenity-tooltip-text">
                                        Recall: Intelligence + Willpower. A check to remember an important event or
                                        fact.
                                    </span>
                                </span>
                            </td>
                            <td><input type="text" name="attr_Recall" disabled
                                       value="@{Intelligence}+@{Willpower}"/><br/>
                                <span class="sheet-character-derived-explanation">Intelligence + Willpower</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Out of<br/>&nbsp;&nbsp;Harm:
                                    <span class="sheet-serenity-tooltip-text">
                                        Out of Harm: Agility + Alertness. Made when reacting to sudden danger, such as
                                        diving away from a grenade that lands at your feet
                                    </span>
                                </span>
                            </td>
                            <td><input type="text" name="attr_OutOfHarm" disabled
                                       value="@{Agility}+@{Alertness}"/><br/>
                                <span class="sheet-character-derived-explanation">Agility + Alertness</span></td>
                            <td>
                                <span class="sheet-serenity-tooltip">
                                    Resist:
                                    <span class="sheet-serenity-tooltip-text">
                                        Resist: Vitality + Vitality. Made to resist environmental hazards, diseases,
                                        alcohol, and toxins
                                    </span>
                                </span>
                            </td>
                            <td><input type="text" name="attr_Resist" disabled value="2*@{Vitality}"/><br/>
                                <span class="sheet-character-derived-explanation">Vitality + Vitality</span></td>
                        </tr>
                    </table>
                </div>
                <!-- PLOT POINTS -->
                <div class="sheet-serenity-fieldset sheet-serenity-plot-points">
                    <span class="sheet-serenity-tooltip sheet-serenity-fieldset-title">
                        Plot Points
                        <span class="sheet-serenity-tooltip-text sheet-serenity-tooltip-text-left">
                            Plot Points are a way for major characters in the
                            game to add a little drama to the story. Plot Points
                            can be used to improve the odds for important
                            actions, prevent someone from getting killed or
                            badly injured, or even used to alter the story.
                            <table>
                                <tr>
                                    <td>Reduce Damage</td>
                                    <td>+1 Step per Point / +1 LP after</td>
                                </tr>
                                <tr>
                                    <td>Add to Rolls</td>
                                    <td>+1 Step per Point / +1 to roll after</td>
                                </tr>
                                <tr>
                                    <td>Utilize Assets</td>
                                    <td>See Asset description, 1-6 Points</td>
                                </tr>
                                <tr>
                                    <td>Affect Plot</td>
                                    <td>GM discretion, can use 1-12 Points</td>
                                </tr>
                            </table>
                        </span>
                    </span>

                    <div class="sheet-serenity-plot-points-input">
                        <stunPlaceholder type="plotpoint" num="12" title="Plot Points"></stunPlaceholder>
                    </div>

                    <div class="sheet-serenity-plot-points-notes">
                        Plot points above 6 are converted to Advancement points at the end of each session.
                    </div>
                </div>
                <!-- ADVANCEMENT POINTS -->
                <div class="sheet-serenity-fieldset sheet-serenity-advancement-points">
                    <span class="sheet-serenity-tooltip sheet-serenity-fieldset-title">
                        Advancement Points
                        <span class="sheet-serenity-tooltip-text sheet-serenity-tooltip-text-left">
                            Advancement Points represent the
                            accumulation of experience and are the building
                            blocks for improvement.
                            <table class="sheet-serenity-tooltip-table-center">
                                <tr><th>Die</th><th>Skill cost</th><th>Attribute cost</th></tr>
                                <tr><td>d2</td><td>2</td><td>–</td></tr>
                                <tr><td>d4</td><td>4</td><td>–</td></tr>
                                <tr><td>d6</td><td>6</td><td>24</td></tr>
                                <tr><td>d8</td><td>8</td><td>32</td></tr>
                                <tr><td>d10</td><td>10</td><td>40</td></tr>
                                <tr><td>d12</td><td>12</td><td>48</td></tr>
                                <tr><td>d12 + d2</td><td>14</td><td>56</td></tr>
                                <tr><td>d12 + d4</td><td>16</td><td>64</td></tr>
                            </table>
                        </span>
                    </span>

                    <div class="sheet-serenity-advancement-points-input">
                        <input type="number" name="attr_advancement_points" />
                    </div>
                </div>
            </div>

            <div class="sheet-serenity-float-group">
                <!-- SKILLS -->
                <div class="sheet-serenity-fieldset sheet-character-skills">
                    <span class="sheet-serenity-tooltip sheet-serenity-fieldset-title">
                        Skills
                        <span class="sheet-serenity-tooltip-text sheet-serenity-tooltip-text-wide">
                            Skill Levels
                            <table class="sheet-serenity-tooltip-table-center-first-col">
                                <tr><th>Die</th><th>Proficiency</th><th>Comment</th></tr>
                                <tr><td>d2</td><td>Incompetent</td><td>“That ain’t the ‘on’ button, is it?”</td></tr>
                                <tr><td>d4</td><td>Novice</td><td>“Don’t pull the trigger, squeeze it.”</td></tr>
                                <tr><td>d6</td><td>Competent</td><td>“Believe I know this dance. Shall we?”</td></tr>
                                <tr><td>d8</td><td>Expert</td><td>“I can reprogram this trash bin to go wherever we want.”</td></tr>
                                <tr><td>d10</td><td>Professional</td><td>“The dermal mender will keep that ear on fine. Just don’t fiddle with it!”</td></tr>
                                <tr><td>d12</td><td>Master</td><td>“A Crazy Ivan? Right now? Okay.”</td></tr>
                                <tr><td>d12+</td><td>Supreme</td><td>“You’re holding eights, low queen, jack, and ace. Your eyes gave it away.”</td></tr>
                            </table>

                            Roll Difficulties
                            <table class="sheet-serenity-tooltip-table-center sheet-serenity-tooltip-table-left-first-col">
                                <tr><th>Action</th><th>Ordinary Success</th><th>Extraordinary Success</th><th>Complex Task</th></tr>
                                <tr><td>Easy</td><td>3</td><td>10</td><td>15</td></tr>
                                <tr><td>Average</td><td>7</td><td>14</td><td>35</td></tr>
                                <tr><td>Hard</td><td>11</td><td>18</td><td>55</td></tr>
                                <tr><td>Formidable</td><td>15</td><td>22</td><td>75</td></tr>
                                <tr><td>Heroic</td><td>19</td><td>26</td><td>95</td></tr>
                                <tr><td>Incredible</td><td>23</td><td>30</td><td>115</td></tr>
                                <tr><td>Ridiculous</td><td>27</td><td>34</td><td>135</td></tr>
                                <tr><td>Impossible</td><td>31</td><td>38</td><td>155</td></tr>
                            </table>
                        </span>
                    </span>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td><skillDescriptionPlaceholder name="Animal Handling"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-animal-handling"
                                                 name="attr_AnimalHandling"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Medical Expertise"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-medical-expertise"
                                                 name="attr_MedicalExpertise"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Artistry"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-artistry"
                                                 name="attr_Artistry"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Melee Weapons"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-melee-weapons"
                                                 name="attr_MeleeWeapons"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Athletics"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-athletics"
                                                 name="attr_Athletics"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Perception"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-perception"
                                                 name="attr_Perception"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Covert"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-covert"
                                                 name="attr_Covert"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Performance"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-performance"
                                                 name="attr_Performance"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Craft"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-craft"
                                                 name="attr_Craft"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Pilot"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-pilot"
                                                 name="attr_Pilot"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Discipline"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-discipline"
                                                 name="attr_Discipline"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Planetary Vehicles"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-planetary-vehicles"
                                                 name="attr_PlanetaryVehicles"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Guns"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-guns"
                                                 name="attr_Guns"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Ranged Weapons"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-ranged-weapons"
                                                 name="attr_RangedWeapons"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Heavy Weapons"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-heavy-weapons"
                                                 name="attr_HeavyWeapons"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Scientific Expertise"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6"
                                                 class="sheet-serenity-scientific-expertise"
                                                 name="attr_ScientificExpertise"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Influence"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-influence"
                                                 name="attr_Influence"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Survival"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-survival"
                                                 name="attr_Survival"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Knowledge"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-knowledge"
                                                 name="attr_Knowledge"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Technical Engineering"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6"
                                                 class="sheet-serenity-technical-engineering"
                                                 name="attr_TechnicalEngineering"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Linguist"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-linguist"
                                                 name="attr_Linguist"/>
                            </td>
                            <td><skillDescriptionPlaceholder name="Unarmed Combat"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6" class="sheet-serenity-unarmed-combat"
                                                 name="attr_UnarmedCombat"/>
                            </td>
                        </tr>
                        <tr>
                            <td><skillDescriptionPlaceholder name="Mechanical Engineering"/></td>
                            <td>
                                <dicePlaceholder default="0" start="0" end="6"
                                                 class="sheet-serenity-mechanical-engineering"
                                                 name="attr_MechanicalEngineering"/>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- SPECIALTIES -->
                <div class="sheet-serenity-fieldset sheet-serenity-character-specialties">
                    <span class="sheet-serenity-fieldset-title">Skill Specialties</span>
                    <fieldset class="repeating_specialties">
                        <skillsPlaceholder class="sheet-serenity-skills" name="attr_Skill"></skillsPlaceholder>
                        <input type="text" class="sheet-serenity-specialty" name="attr_Specialty"/>
                        <dicePlaceholder default="8" start="8" end="24" class="sheet-serenity-specialty-level"
                                         name="attr_Level"></dicePlaceholder>
                    </fieldset>
                </div>
            </div>

            <div class="sheet-serenity-float-group">
                <!-- ASSETS -->
                <div class="sheet-serenity-fieldset sheet-serenity-character-assets">
                    <span class="sheet-serenity-fieldset-title">Assets</span>
                    <fieldset class="repeating_assets">
                        <assetsPlaceholder class="sheet-serenity-assets" name="attr_Asset"></assetsPlaceholder>
                        <div class="sheet-serenity-asset-specialization">Specialization (if applicable): <input
                                type="text" name="attr_Specialization"
                                title="Asset Specialization (if applicable)"/>
                        </div>
                        <div class="sheet-serenity-asset-description">
                            <span name="attr_Asset"></span>
                        </div>
                        <hr>
                    </fieldset>
                    <label class="sheet-serenity-character-custom-assets">
                        <input type="checkbox" class="sheet-serenity-custom-asset-enable"
                               name="attr_AllowCustomAssets"/>
                        <span class="sheet-serenity-arrow">Custom</span>
                        <div class="sheet-serenity-custom-assets">
                            <fieldset class="repeating_customAssets">
                                <label class="sheet-serenity-custom-asset">
                                    Asset: <textarea rows="1" name="attr_CustomAssetTitle"
                                                     title="Custom asset title & description"></textarea>
                                </label>
                                <div>
                                    <label class="sheet-serenity-asset-specialization">Specialization (if applicable):
                                        <input type="text" name="attr_CustomAssetSpecialization"
                                               title="Asset Specialization (if applicable)"/>
                                    </label>
                                    <select name="attr_CustomAssetLevel">
                                        <option value="Major">Major</option>
                                        <option value="Minor">Minor</option>
                                    </select>
                                </div>
                                <hr>
                            </fieldset>
                        </div>
                    </label>
                </div>

                <!-- COMPLICATIONS -->
                <div class="sheet-serenity-fieldset sheet-serenity-character-complications">
                    <span class="sheet-serenity-fieldset-title">Complications</span>
                    <fieldset class="repeating_complications">
                        <complicationsPlaceholder class="sheet-serenity-complications"
                                                  name="attr_Complication"></complicationsPlaceholder>
                        <div class="sheet-serenity-complication-specialization">Specialization (if applicable): <input
                                type="text" name="attr_Specialization"
                                title="Complication Specialization (if applicable)"/>
                        </div>
                        <div class="sheet-serenity-complication-description">
                            <span name="attr_Complication"></span>
                        </div>
                        <hr>
                    </fieldset>
                    <label class="sheet-serenity-character-custom-complications">
                        <input type="checkbox" class="sheet-serenity-custom-complication-enable"
                               name="attr_AllowCustomComplications"/>
                        <span class="sheet-serenity-arrow">Custom</span>
                        <div class="sheet-serenity-custom-complications">
                            <fieldset class="repeating_customComplications">
                                <label class="sheet-serenity-custom-complication">
                                    Complication: <textarea rows="1" name="attr_CustomComplicationTitle"
                                                            title="Custom complication title & description"></textarea>
                                </label>
                                <div>
                                    <label class="sheet-serenity-complication-specialization">Specialization (if
                                        applicable):
                                        <input
                                                type="text" name="attr_CustomComplicationSpecialization"
                                                title="Complication Specialization (if applicable)"/>
                                    </label>
                                    <select name="attr_CustomComplicationLevel">
                                        <option value="Major">Major</option>
                                        <option value="Minor">Minor</option>
                                    </select>
                                </div>
                                <hr>
                            </fieldset>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="sheet-tab-content sheet-tab2-content">
        <!-- CURRENCY -->
        <div class="sheet-serenity-float-group">
            <div class="sheet-serenity-fieldset sheet-serenity-currency">
                <span class="sheet-serenity-fieldset-title">Currency</span>
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><span class="sheet-serenity-credits">€ In Bank:</span></td>
                        <td><input type="text" name="attr_CreditsInBank" value="0"
                                   title="1cr = 2.5 plat = 5 gold = 250 silver"/></td>
                    </tr>
                    <tr>
                        <td><span class="sheet-serenity-credits">€ On Hand:</span></td>
                        <td><input type="text" name="attr_CreditsOnHand" value="0"
                                   title="1cr = 2.5 plat = 5 gold = 250 silver"/></td>
                    </tr>
                    <tr>
                        <td><span class="sheet-serenity-platinum">Platinum:</span></td>
                        <td><input type="text" name="attr_Platinum" value="0"/></td>
                        <td><input type="text" disabled name="attr_PlatinumInCredits" value="@{Platinum}/2.5"
                                   title="Value of your platinum in credits"/></td>
                    </tr>
                    <tr>
                        <td><span class="sheet-serenity-gold">Gold:</span></td>
                        <td><input type="text" name="attr_Gold" value="0"/></td>
                        <td><input type="text" disabled name="attr_GoldInCredits" value="@{Gold}/5"
                                   title="Value of your gold in credits"/></td>
                    </tr>
                    <tr>
                        <td><span class="sheet-serenity-silver">Silver:</span></td>
                        <td><input type="text" name="attr_Silver" value="0"/></td>
                        <td><input type="text" disabled name="attr_SilverInCredits" value="@{Silver}/250"
                                   title="Value of your silver in credits"/></td>
                    </tr>
                </table>
                <div class="sheet-serenity-currency-conversions">€ 1 ~ 2.5 Platinum ~ 5 Gold ~ 250 Silver (~$25)
                </div>
            </div>
            <div class="sheet-serenity-fieldset sheet-serenity-combat-actions">
                <span class="sheet-serenity-fieldset-title">Combat Actions</span>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>Free Actions</td>
                        <td>Talk, Walk, Innate Defense, Reactions</td>
                    </tr>
                    <tr>
                        <td>Movements</td>
                        <td> Walk (0 acts), Hustle (1 acts), Run (2 acts)</td>
                    </tr>
                    <tr>
                        <td>(call or react) Defense</td>
                        <td> Block, Dodge, Take Cover</td>
                    </tr>
                    <tr>
                        <td>Attack</td>
                        <td> Aim, Call Shot, Disarm, Feint, Grapple</td>
                    </tr>
                    <tr>
                        <td>All-Out Def. / Atk.</td>
                        <td> +2 Skill Step if all actions defend / attack</td>
                    </tr>
                    <tr>
                        <td>Multiple Actions</td>
                        <td> -1 Skill Step for all actions per extra act</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sheet-serenity-float-group">
            <!-- EQUIPMENT -->
            <div class="sheet-serenity-fieldset sheet-serenity-character-equipment">
                <span class="sheet-serenity-fieldset-title">Equipment</span>

                Held Equipment & Weapons:<br/><textarea name="attr_HeldEquipment"></textarea>
                <br/>Stored Equipment & Weapons:<br/><textarea name="attr_StoredEquipment"></textarea>
            </div>

            <!-- WEAPONS -->
            <div class="sheet-serenity-fieldset sheet-serenity-character-weapons">
                <span class="sheet-serenity-fieldset-title">Equipped Hand-to-Hand Weapons</span>

                <span class="sheet-serenity-weapon-name-label"></span>
                <span class="sheet-serenity-weapon-damage-label">Damage</span>
                <span class="sheet-serenity-weapon-weight-label"></span>

                <div class="sheet-serenity-unarmed">
                    <span class="sheet-serenity-weapon-name">Unarmed</span>
                    <span>d</span>
                    <input type="number" name="attr_UnarmedDamage" class="sheet-serenity-weapon-damage" min="2"
                           max="99" step="2" value="2">
                    <damageTypePlaceholder name="attr_UnarmedDamageType"
                                           class="sheet-serenity-weapon-damage-type"></damageTypePlaceholder>
                </div>

                <span class="sheet-serenity-weapon-name-label">Name</span>
                <span class="sheet-serenity-weapon-damage-label">Damage</span>
                <span class="sheet-serenity-weapon-weight-label">Weight</span>
                <fieldset class="repeating_handToHandWeapons">
                    <input type="text" name="attr_Name" class="sheet-serenity-weapon-name">
                    <span>d</span>
                    <input type="number" name="attr_Damage" class="sheet-serenity-weapon-damage" min="2" max="99"
                           step="2" value="2">
                    <damageTypePlaceholder name="attr_DamageType"
                                           class="sheet-serenity-weapon-damage-type"></damageTypePlaceholder>
                    <input type="number" name="attr_Weight" class="sheet-serenity-weapon-weight" min="0"
                           value="1">
                </fieldset>
            </div>
            <div class="sheet-serenity-fieldset sheet-serenity-character-weapons">
                <span class="sheet-serenity-fieldset-title">Equipped Ranged Weapons</span>

                <span class="sheet-serenity-weapon-name-label">Name</span>
                <span class="sheet-serenity-weapon-damage-label">Damage</span>
                <span class="sheet-serenity-weapon-range-label">Range</span>
                <span class="sheet-serenity-weapon-rof-label">ROF</span>
                <span class="sheet-serenity-weapon-magazine-label">Mag</span>
                <span class="sheet-serenity-weapon-weight-label">Weight</span>
                <fieldset class="repeating_rangedWeapons">
                    <input type="text" name="attr_Name" class="sheet-serenity-weapon-name">
                    <span>d</span>
                    <input type="number" name="attr_Damage" class="sheet-serenity-weapon-damage" min="2" max="99"
                           step="2" value="2">
                    <damageTypePlaceholder name="attr_DamageType"
                                           class="sheet-serenity-weapon-damage-type"></damageTypePlaceholder>
                    <input type="number" name="attr_Range" class="sheet-serenity-weapon-range" min="0" max="9999"
                           step="5" value="10">
                    <input type="number" name="attr_ROF" class="sheet-serenity-weapon-rof" min="1" value="1">
                    <input type="number" name="attr_Magazine" class="sheet-serenity-weapon-magazine" min="1"
                           value="1">
                    <input type="number" name="attr_Weight" class="sheet-serenity-weapon-weight" min="0"
                           value="1">
                </fieldset>
            </div>
            <div class="sheet-serenity-fieldset sheet-serenity-character-weapons">
                <span class="sheet-serenity-fieldset-title">Equipped Explosives</span>

                <span class="sheet-serenity-weapon-name-label">Name</span>
                <span class="sheet-serenity-weapon-damage-label">Damage</span>
                <span class="sheet-serenity-weapon-range-label">Range</span>
                <span class="sheet-serenity-weapon-weight-label">Weight</span>
                <fieldset class="repeating_explosives">
                    <input type="text" name="attr_Name" class="sheet-serenity-weapon-name">
                    <span>d</span>
                    <input type="number" name="attr_Damage" class="sheet-serenity-weapon-damage" min="2" max="99"
                           step="2" value="2">
                    <damageTypePlaceholder name="attr_DamageType"
                                           class="sheet-serenity-weapon-damage-type"></damageTypePlaceholder>
                    <input type="number" name="attr_Range" class="sheet-serenity-weapon-range" min="0" max="9999"
                           step="5" value="10">
                    <input type="number" name="attr_Weight" class="sheet-serenity-weapon-weight" min="0"
                           value="1">
                </fieldset>
            </div>
            <div class="sheet-serenity-fieldset sheet-serenity-character-armor">
                <span class="sheet-serenity-fieldset-title">Equipped Armor</span>

                <span class="sheet-serenity-armor-name-label">Name</span>
                <span class="sheet-serenity-armor-rating-label">Rating</span>
                <span class="sheet-serenity-armor-penalty-label">&nbsp;&nbsp;&nbsp;&nbsp;Penalties<br/> Agility&nbsp;&nbsp;&nbsp;Alert.</span>
                <span class="sheet-serenity-armor-weight-label">Weight</span>
                <fieldset class="repeating_armor">
                    <input type="text" name="attr_Name" class="sheet-serenity-armor-name">
                    <input type="number" name="attr_Rating" class="sheet-serenity-armor-rating" min="0" max="99"
                           step="1" value="1">
                    <damageTypePlaceholder name="attr_RatingType"
                                           class="sheet-serenity-armor-rating-type"></damageTypePlaceholder>
                    <input type="number" name="attr_AgilityPenalty" class="sheet-serenity-armor-penalty" min="-99"
                           max="0" value="0">
                    <input type="number" name="attr_AlertnessPenalty" class="sheet-serenity-armor-penalty" min="-99"
                           max="0" value="0">
                    <input type="number" name="attr_Weight" class="sheet-serenity-armor-weight" min="0"
                           value="1">
                    <div>Effects:&nbsp;<input type="text" name="attr_Effects"
                                              class="sheet-serenity-armor-effects"></div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="sheet-tab-content sheet-tab3-content">
        <div class="sheet-serenity-fieldset sheet-serenity-notes">
            <span class="sheet-serenity-fieldset-title">Notes</span>

            <textarea name="attr_Notes"></textarea>
        </div>
        <div class="sheet-serenity-fieldset sheet-serenity-explanation">
            <span class="sheet-serenity-fieldset-title">Description</span>

            <textarea name="attr_Description"></textarea>
        </div>
        <div class="sheet-serenity-fieldset sheet-serenity-history">
            <span class="sheet-serenity-fieldset-title">History</span>

            <textarea name="attr_History"></textarea>
        </div>
    </div>
</div>
